---

- name: Remove Composer {{ composer_directory }}/composer
  file:
    path: "{{ composer_directory }}/composer"
    state: absent
  when: composer_remove

- name: Remove Composer temporary directory {{ composer_installer_path }}
  file:
    path: "{{ composer_installer_path }}"
    state: absent
  when: composer_remove

- name: Check if Composer is installed
  stat: "path={{ composer_directory }}/composer"
  register: composer_bin

- name: Create Composer temporary directory {{ composer_installer_path }}
  file:
    path: "{{ composer_installer_path }}"
    owner: "root"
    group: "root"
    state: directory
  when: not composer_bin.stat.exists

- name: Download Composer installer {{ composer_installer_path }}/composer-installer.php
  get_url:
    url: https://getcomposer.org/installer
    dest: "{{ composer_installer_path }}/composer-installer.php"
    mode: 0755
    # checksum: "{{ composer_installer_checksum_algorithm }}:{{ composer_installer_checksum }}"
  when: not composer_bin.stat.exists

- name: Run Composer installer
  command: >
    php composer-installer.php {% if composer_version != '' %} --version={{ composer_version }}{% endif %} --filename=composer
    chdir={{ composer_installer_path }}
  when: not composer_bin.stat.exists

- name: Make Composer executable
  file:
    path: "{{ composer_installer_path }}/composer"
    mode: a+x
    state: file
  when: not composer_bin.stat.exists

- name: Create Composer symlink {{ composer_directory }}/composer
  file:
    src: "{{ composer_installer_path }}/composer"
    dest: "{{ composer_directory }}/composer"
    state: link
  when: not composer_bin.stat.exists

- name: Update Composer to latest version
  shell: >
    php {{ composer_directory }}/composer self-update
  register: composer_update
  changed_when: "'Updating to version' in composer_update.stdout"
  when: composer_keep_updated

- name: Add {{ composer_directory }} to path
  lineinfile:
    dest: /etc/profile.d/composer.sh
    state: present
    create: yes
    line: "PATH=$PATH:{{ composer_directory }}"
  when: composer_add_to_path

- name: Check if Composer is working
  composer:
    arguments: "--version"
    command: ""
    working_dir: ""
  changed_when: false # This will never report 'changed' status. But it will report 'ok', 'unreachable' or 'failed'
